@import 'components/map.css';
@import 'components/locations.css';

.back {
    display: inline-block;
    height: 1em;
    max-width: 100vh;
    margin-inline-start: 50%;
}

.main-container {
    margin: 10px auto;
    width: 98%;
    height: 90vh;
}

footer {
    text-align: center;
}