.placelist-container {
    flex-direction: column;
    flex-grow: 1;
    color: var(--clr-primary);
    height: 100%;
    max-width: 100%;
}

.title {
    /* background-color: #fff; */
}

.placelist-wrapper {
    flex-grow: 1;

}

.location {
    justify-content: space-around;
}

.delete-location {
    justify-self: flex-end;
}