.main-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15rem auto;
    width: 90vh;
    gap: 100px;
}

.main-btn {
    position: relative;
    border: 5px solid var(--clr-primary);
    border-radius: 50px;
    width: 50%;
}

.main-btn:hover {
    border: 5px solid var(--clr-highlight);
}

.main-container a:hover {
    color: var(--clr-highlight);
}

.main-container a {
    font-size: 2rem;
    display: inline-block;
    min-width: 100%;
    height: 100%;
    padding-block: 5%;
}

footer {
    color: var(--clr-primary);
}